 /* CSS Created by JemiloII */
/* 2014 Profile Edition    */
/* Color Scheme rgba(0,0,0,1) | rgba(249,135,24,1) | (242,103,22,1) | rgba(89,9,2,1) | rgba(38,4,1,1) */
/* https://kuler.adobe.com/warm-technology-color-theme-1517858/ */

*{margin: 0; padding: 0; color: #FFF;}
body{margin: 0 auto; padding: 0; text-align: center; background: rgba(0,0,0,1); overflow: hidden;}
.navmain{
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 3%, #474747 49%, #2c2c2c 52%, #262626 55%, #111111 60%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#000000), color-stop(49%,#474747), color-stop(52%,#2c2c2c), color-stop(55%,#262626), color-stop(60%,#111111), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 3%,#474747 49%,#2c2c2c 52%,#262626 55%,#111111 60%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 3%,#474747 49%,#2c2c2c 52%,#262626 55%,#111111 60%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 3%,#474747 49%,#2c2c2c 52%,#262626 55%,#111111 60%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 3%,#474747 49%,#2c2c2c 52%,#262626 55%,#111111 60%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	position: fixed;
	height: 5vh;
	width: 100vw;
	z-index: 5;
}
#landing{
	background: rgba(249,135,24,1);
	background: #f98718; /* Old browsers */
	background: -moz-linear-gradient(top,  #f98718 0%, #f26716 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f98718), color-stop(100%,#f26716), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f98718 0%,#f26716 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f98718 0%,#f26716 100%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f98718 0%,#f26716 100%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f98718 0%,#f26716 100%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98718', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
 	height: 95vh;
 	padding: 5vh 0 0 0;
}
#landing article{
	background: rgba(28, 28, 28, .7);
	border-radius: 5em;
	position: absolute;
	font-family: 'The Girl Next Door', cursive;
	width: 40vw;
	padding: 1vh 1vw 5vh 1vw;
	top: 17vh;
	left: 10vw;
	box-shadow: 0 0 10px 10px #1c1c1c, 0 0 7px 7px #FFF;
}
#landing article h1{
	font-size: 30px;
}
#landing article :nth-child(3){
	margin-top: 2vh;
}

#rules{
	background: rgba(242,103,22,1);
	background: #f26716; /* Old browsers */
	background: -moz-linear-gradient(top,  #f26716 0%, #590902 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f26716), color-stop(100%,#590902), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f26716 0%,#590902 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f26716 0%,#590902 100%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f26716 0%,#590902 100%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f26716 0%,#590902 100%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26716', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	padding: 5vh 0 0 0;
}
#characters{
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	padding: 5vh 0 0 0;
	overflow: hidden;
}
#aboutme{
	background: rgba(38,4,1,1);
	background: #260401; /* Old browsers */
	background: -moz-linear-gradient(top,  #260401 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#260401), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #260401 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #260401 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #260401 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #260401 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#260401', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	padding: 5vh 0 0 0;
}

/* navigation links */
.navmain a{
	height: 5vh;
	padding: 1.5vh 2vw;
	vertical-align: middle;
	line-height: 5vh;
	font-size: 2.5vmin;
	text-decoration: none;
}
.navmain a:hover{
	background: rgba(255,255,255,.7);
}
.navmain #icons{
	display: inline-block;
	padding: 1.5vh 2vw;
	line-height: 5vh;
	vertical-align: middle;
}
#icons li {
    position: relative;
    padding: 0 1vw;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
}
.ui-text{
	font-size: .65em;
}
.highlight{
	color:red;
}
#bgm_controls{
	z-index: 1;
	position: absolute;
	right: 0;
}
/* Grass */
#canvas{
	bottom: 0px;
	left: -5px;
	position: absolute;
	width: 110vw;
	overflow: hidden;
}
/* Hides Grass Stuff */
hide{
	display: none;
}

rain{
	height: 95vh;
	width: 100vw;
	overflow: none;
}
.ayase{
	position: absolute;
	background: url('img/Ayase.png') no-repeat;
	width: 48.9vw;
	height: 95vh;
	right: 0;
	z-index: -1;

}
/* For Clouds */
#viewport {
    -webkit-perspective: 750; 
    -moz-perspective: 750; 
    -o-perspective: 750; 
    position: absolute;
    left: -20%;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 120vw;
    background: rgba(0,0,0,.5);
    -webkit-transform: rotate(180deg);
}

#world {
    position: relative;
    top: 100%;
    left: 50%;
}

.cloud {
    position: absolute;
    background-image: url(http://i.imgur.com/ckpJc.png);
    background-position: center;
    background-size: 100%;
    width: 256px;
    height: 256px;
    margin-top: -128px;
    margin-left: -128px;
    -webkit-transform: rotate(90degree);
}

#character_overview{
	display: inline-block;
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	width: 100vw;
	float:left;
	padding: 0 0 0 0;
}
#alexis{
	display: inline-block;
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	width: 100vw;
	float:left;
	padding: 0 0 0 0;
}
#jayce{
	display: inline-block;
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	width: 100vw;
	float:left;
	padding: 0 0 0 0;
}
#kira{
	display: inline-block;
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	width: 100vw;
	float:left;
	padding: 0 0 0 0;
}
#kyo{
	display: inline-block;
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	width: 100vw;
	float:left;
	padding: 0 0 0 0;
}
#daichi{
	display: inline-block;
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	width: 100vw;
	float:left;
	padding: 0 0 0 0;
}
#elise{
	display: inline-block;
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	width: 100vw;
	float:left;
	padding: 0 0 0 0;
}
#rin{
	display: inline-block;
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	width: 100vw;
	float:left;
	padding: 0 0 0 0;
}
#mii{
	display: inline-block;
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	width: 100vw;
	float:left;
	padding: 0 0 0 0;
}
#ayase{
	display: inline-block;
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	width: 100vw;
	float:left;
	padding: 0 0 0 0;
}
#luna{
	display: inline-block;
	background: rgba(89,9,2,1);
	background: #590902; /* Old browsers */
	background: -moz-linear-gradient(top,  #590902 0%, #260401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#590902), color-stop(100%,#260401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #590902 0%,#260401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #590902 0%,#260401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #590902 0%,#260401 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #590902 0%,#260401 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#590902', endColorstr='#260401',GradientType=0 ); /* IE6-9 */
	height: 95vh;
	width: 100vw;
	float:left;
	padding: 0 0 0 0;
}
#characters nav{
	z-index: 1;
	position: relative;
	background: #000;
}